@import '../../../config-scss/rem-calc.scss';

:host{
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: rem-calc(40) 0;
    }

    @media (max-width: 320px){
        header{
            display: flex;
            justify-content: end;
            align-items: end;
            padding: rem-calc(40) 0;
        }
    }
}